[MESSAGES CONTROL]
disable=missing-module-docstring,
        missing-class-docstring,
        missing-function-docstring,
        no-name-in-module,
        too-few-public-methods,
        too-many-public-methods,
        too-many-instance-attributes,
        duplicate-code,
        too-many-arguments,
        too-many-locals,
        too-many-return-statements,
        logging-fstring-interpolation,
        import-outside-toplevel,
        too-many-lines,
        broad-exception-caught
