[tool.poetry]
name = "uagents"
version = "0.10.0"
description = "Lightweight framework for rapid agent-based development"
authors = ["Ed FitzGerald <edward.fitzgerald@fetch.ai>", "James Riehl <james.riehl@fetch.ai>", "Alejandro Morales <alejandro.madrigal@fetch.ai>"]
license = "Apache 2.0"
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.8,<3.13"
pydantic = "^1.10.2"
msgpack = "^1.0.4"
bech32 = "^1.2.0"
ecdsa = "^0.18.0"
apispec = "^6.0.2"
uvicorn = "^0.20.0"
aiohttp = "^3.8.3"
cosmpy = "^0.9.2"
websockets = "^10.4"

# extras
fetchai-babble = {version = "^0.4.0", optional = true}
tortoise-orm = {version = "^0.19.2", optional = true}
geopy = {version = "^2.3.0", optional = true}
pyngrok = {version = "^5.2.3", optional = true}

[tool.poetry.dev-dependencies]
aioresponses = "^0.7.4"
black = "^23.1.0"
pytest = "^7.1.3"
pylint = "^2.15.3"
mkdocs = "^1.4.2"
mkdocs-material = "^9.1.13"


[tool.poetry.extras]
all = ["tortoise-orm", "geopy", "fetchai-babble", "pyngrok"]
wallet = ["fetchai-babble"]
orm = ["tortoise-orm"]
geo = ["geopy"]
remote-agents = ["pyngrok"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
